.HomeAbout {
  margin-top: 50px;
  padding: 20px;
}

.about-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}

.about-image-section {
  position: relative;
  overflow: hidden;
  width: 80vw;
  border-radius: 5px;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}

.about-image {
  width: 100%;
  object-fit: cover;
}

.about-description {
  text-align: center;
  font-size: 1.1em;
  color: rgb(240, 240, 240);
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .about-description {
    padding-left: 20px;
    padding-right: 20px;
  }
}