.HomeEvents {
  padding-top: 30px;
  padding-bottom: 40px;
 // background: rgba(68, 68, 68, 0.445);
  //margin-top: 60px;
  width: 100vw;
  overflow: hidden;
  box-shadow: 0px 2px 20px #000000;
}

.carousel {
  
  .slick-dots {
    li {
      button {
        width: 20px;
        
      }
    }
  }
}

.slick-slider {
  width: 100vw;

  .slick-arrow {
    right: 30px;
  }
}
