.HomeEvents {
  padding-top: 30px;
  padding-bottom: 40px;
  background: #444;
  margin-top: 60px;
}

.carousel {
  .slick-dots {
    li {
      button {
        width: 20px;
        
      }
    }
  }
}