.HomeEvents {
  padding-top: 30px;
  padding-bottom: 40px;
  background: #444;
  margin-top: 60px;
  width: 100vw;
  overflow: hidden;
}

.carousel {
  
  .slick-dots {
    li {
      button {
        width: 20px;
        
      }
    }
  }
}

.slick-slider {
  width: 100vw;

  .slick-arrow {
    right: 30px;
  }
}
