.AboutUs {
  background-image: url("../background1.jpg");
}

.blur-layer {
  padding-top: 140px;
  backdrop-filter: blur(70px);
  background-color: hsla(0, 0%, 0%, 0.678);
  padding-left: 200px;
  padding-right: 200px;
  overflow: hidden;
}

@media screen and (max-width: 1160px) {
  .blur-layer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 991px) {
  .blur-layer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-sub-title {
  color: rgb(233, 231, 231);
  font-size: 2em;
  margin-bottom: 30px;
}

.about-sub-title.small {
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
}

.about-page-description {
  color: rgb(233, 231, 231);
  font-size: 1.1em;
  margin-bottom: 50px;
}

.about-page-large-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  z-index: -5;
  box-shadow: 10px 30px 20px #000000;
  animation-name: spinner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  0% {
    transform: rotate3d(1, 1, 0, 15deg) scale(0.85);
  }
  // 25% { transform: rotate3d(1, 1, 0, 10deg) scale(0.95);}
  50% {
    transform: rotate3d(1, 0, 0, 0deg) scale(0.9);
  }
  //75% { transform: rotate3d(1, 1, 0, 10deg) scale(0.95);}
  100% {
    transform: rotate3d(1, 1, 0, 15deg) scale(0.85);
  }
}

.objective-list {
  margin-bottom: 60px;
}

///////////// member grid (BoardMemberTile.js)///////////////////////////////@///////////

.board-member-list {
  padding-top: 20px;
  display: grid;
  overflow: hidden;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media screen and (max-width: 420px) {
  .board-member-list {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.BoardMemberTile {
  display: flex;
  width: 100%;
  box-shadow: 0px 0px 10px -100px rgb(0, 0, 0), 0 0px 20px 0 rgb(0, 0, 0);
  padding-right: 15px;
  align-items: center;
}

@media (max-width: 420px) {
  .BoardMemberTile {
    flex-direction: column;
    justify-content: center;
  }
}

.member-border-box {
  height: 100%;
  width: 5px;
  box-shadow: 0px 5px 10px #000000;
}

@media (max-width: 420px) {
  .member-border-box {
    height: 0;
    width: 0;
    box-shadow: 0px 5px 10px #000000;
  }
}

.avatar-img-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.member-detail-section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
}

@media (max-width: 420px) {
  .member-detail-section {
    width: 80%;
    text-align: center;
  }
}

.member-image {
  width: 150px;
  object-fit: cover;
}

.member-name {
  color: rgb(228, 228, 228);
  font-size: 1.3em;
  font-weight: 540;
}

.member-designation {
  color: rgb(202, 202, 202);
}
