.Insights {
  //background-color: #444;
  background-image: url('../background1.jpg');
  margin-bottom: 80px;
  width: 100vw;
  
}

.insight-blur-layer {
  padding-top: 200px;
  backdrop-filter: blur(30px);
  background-color: #000000b0;
  padding-bottom: 30px;
}

.insight-blur-layer.events {
  padding-top: 0px;
}

.insight-description {
  color: rgb(228, 226, 226);
  font-size: 1.1em;
  text-align: center;
}

.insight-timeline {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

@media screen and (max-width: 991px) {
  .insight-timeline {
    margin-left: 20px;
    margin-right: 20px;
  }
}