.ContactUs {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
  width: 100vw;
  overflow: hidden;
}

.contactTitle {
  width: 100%;
}
.social-icon-section {
  display: flex;
  position: relative;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  font-size: 2em;
  color: #fff;
  padding-right: 20px;
}

.rights-text {
  padding-top: 20px;
  color: #fff;
}