.ContactUs {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 20px;
  width: 100vw;
  overflow: hidden;
  //background-color: rgba(0, 0, 0, 0.87);
  
    //padding-top: 140px;
    
    backdrop-filter: blur(30px);
    background-color: #000000ad;
}

.contactTitle {
  width: 100%;
}
.social-icon-section {
  display: flex;
  position: relative;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  font-size: 2em;
  color: #fff;
  padding-right: 20px;
}

.rights-text {
  padding-top: 20px;
  color: #fff;
}