.testimonial-title {
  margin-top: 50px;
  font-size: 3em;
}

.TestimonialTileSection {
  width: 97vw;
  margin-top: 40px;
  padding-top: 50px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: grid;
  grid-template-columns:auto auto auto auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 50px;
  grid-row-gap: 50px;
}

@media screen and (max-width: 1500px) {
  .TestimonialTileSection {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 991px) {
  .TestimonialTileSection {
    grid-template-columns: auto;
  }
}
//////////////////////////////////////////////////@at-root

.TestimonialTile {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  display: block;
  margin: 5px;
  background-color: #444;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.418),
    0 6px 20px 0 rgba(0, 0, 0, 0.472);
}

.TestimonialTile:hover {
  box-shadow: 0 20px 20px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
  transform: translateX(-50%);
  background-color: #444;
}

.avatar-image-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.avatar-image {
  width: 100%;
  object-fit: cover;
}

.description {
  font-size: 1.1em;
  color: rgb(221, 220, 220);
  text-align: center;
  padding-bottom: 15px;
}

.name-section {
  text-align: center;
  font-size: 1.2em;
  color: rgb(238, 238, 238);
}

@media only screen and (max-width: 991px) {
  .TestimonialTile {
    width: 80%;
  }

  .description {
    font-size: 1em;
  }

  .avatar-image-container {
    width: 100px;
    height: 100px;
  }

  .TestimonialTileSection {
    width: 92%;
  }
}
