body {
  background-image: url('./background1.jpg');
  
}

.carousel {
  
}

.slick-dots li {
  button:before {
    margin-top: 6px;
    margin-bottom: 4px;
    border-radius: 50%;
    font-size: 15px !important;
  }
}